html, body {
  height: 1050px;
}

.grid-container {
  width: 100%;
  z-index: 2;
  position: absolute;

  display: flex;
  justify-content: space-between;
}

.textbox-1 {
  width: 35%;
  margin-top: 140px;
  margin-left: 7rem;
}
.textbox-2 {
  width: 0px;
}

@media only screen and (max-width: 800px) { 
  .grid-container {
    margin: 0;
  }
  .textbox-1 {
  margin-top: 40px;
}
}