html, body {
  height: 100%;
}

.grid-container {
  margin: 20px 200px;

  height: 800px;
  width: 1500px;
  z-index: 2;
  position: absolute;

  display: flex;
  justify-content: space-between;
}

.textbox-1 {
  width: 800px;
  margin-top: 140px;
}
.textbox-2 {
  width: 800px;
  width: 500px;
}

.body-paragraph {
  padding: 3% 0%;
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
  animation: elementFadeIn 1s ease 2s forwards;
}
