html, body {
  height: 100%;
}

.grid-container {
  margin: 20px 200px;

  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;

  display: flex;
  justify-content: space-between;
}

.textbox-1 {
  width: 800px;
  margin-top: 140px;
}
.textbox-2 {
  width: 800px;
  width: 500px;
}

@media only screen and (max-width: 800px) { 
  .grid-container {
    margin: 0;
  }
}