html, body {
  height: 1700px;
}

.grid-container {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2%;
}

.reel-container {
  display: flex;
  column-gap: 5%;
  width: 100%;
  justify-content: space-between;
}

.reelcrafter-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textbox-1, .textbox-2 {
  height: 100%;
  width: 52vw;
}

.textbox-1 {
  margin-top: 100px;
}

  .video-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex-wrap: wrap;
    column-gap: 4%;
    width: 100%;
    height: 250px;
  }

  .video-example {
    height: 100%;
  }

  .video-title {
    margin-top: 20px;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    animation: elementFadeIn 1s ease 1.6s forwards;
  }

.scrolling-text-container {
  display: inline-block;
  width: 100%;
  height: 0;
}

.scrolling-text {
  overflow: clip;
  font-size: 8.854vw;
  opacity: 0;
  animation: elementFadeIn 2s ease 1.8s forwards;
}

.scrolling-text-track {
  width: max-content;
  animation: scrolling-text-move 10s linear infinite;

}

@keyframes scrolling-text-move {
  to {
    transform: translateX(-20.25%)
  }
}

/* Media Queries */

@media (max-width: 800px) { 
  .video-container {
    flex-direction: row;
    row-gap: 50%;
  }
}